/* SANDY BROWN     ORANGE   #FCAA67 
MEDIUM CARMINE      RED        #B0413E
CREAM                        WHITE     #FFFFC7
STEAL TEAL                  BLUE       #548687
OLD BURGUNDY        MARO      #473335 */




@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}




body {
    font-family: 'Merienda', cursive;
    font-family: 'Ubuntu', sans-serif;

}

/* nav bar */

nav ul {
    list-style-type: none;
    background-color:#473335;
}

nav ul li a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    text-align:center ;
    padding: 10px 20px;
    color: #FCAA67 ;
}

nav ul li a:hover  {
    color: #FFFFC7;
}

.logo {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 35px;
    background:  #FCAA67 ;
    color: #473335;
    font-style: italic;
}

.logo:hover {
    background-color: #FFFFC7;
    color: #FCAA67 ;
}

@media screen and (min-width:576px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
align-items: baseline;
justify-content: space-between;
    }

    nav ul li {
        flex: 1 0 auto;
    }
.logo {
    display: block;
    text-align: center;
}
 .logo  .fa-solid {
     display: none;
 }
}